/* 
1. 가로 박스 만들기 (백그라운드 컬러를 이용하여 자리를 파악할 수 있게 하는것도 좋음.)
2. 
3. padding 주기
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* rem : 루트 글꼴 크기에 비례하여 상대적으로 바뀌는 단위*/

.bigBox1 {
  /* %는 부모(html)의 크기를 상속받아 차지하겠다. */
  width: 100%;
  text-align: center;
  color: blue;
  font-size: 2rem;
  font-weight: bold;
}

.bigBox2 {
  width: 80%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  /* 1fr 1fr = 50 : 50 */
  gap: 20px;
  padding: 10px;
  margin: 0 auto;
  /* top,bottom / left,right */
}

.bigBox2 .b1 img {
  width: 100%;
}

.bigBox2 .b2 {
  padding: 10px;
  font-size: 1.2rem;
}

.bigBox3 {
  width: 80%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0 auto;
}

.bigBox3 img {
  width: 100%;
}

.bigBox3 p {
  font-size: 1.2rem;
}
